.Home h1{
    font-size: 32px;
    color: #333;
}

.glow{
    color: rgb(124, 41, 41);
    text-shadow: 1px 1px 2px rgb(99, 46, 46), 0 0 25px blue, 0 0 5px darkblue;
}

.glowwinner{
    color: rgb(39, 187, 224);
    text-shadow: 1px 1px 2px rgb(23, 62, 107), 0 0 25px blue, 0 0 5px darkblue;
}

.Home{
    margin: 0 auto;
    width: 960px;
  }

  .choice {
    height: 20vmin;
    width: 20vmin;
  }

  .choice:hover{ 
      background-color: rgb(197, 195, 195);
  }

  .choice:active{
    background-color: #566163;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }